body {
  background-color: #EFEBE0;
  font-family: Verdana, Helvetica, sans-serif;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:focus, a:active {
  font-weight: bold;
}

form {
  padding: 0 35px;
  width:10%;
}

.top-front-page-banner{
  position: absolute;
  top: -80%;
  left: 0;
  right: 0;
  width: 85%;
  height: 20%;
  padding: 0px 0px 70px; 
  margin: auto;
  background-image: url("https://i.imgur.com/XrFzX5H.jpg");
  background-color: #050A30;
  animation: moveRight 2.2s;
  -webkit-animation: moveRight 2.2s;
  -moz-animation: moveRight 2.2s;
  -o-animation: moveRight 2.2s;
  -ms-animation: moveRight 2.2s;
}

.central-front-page-banner{
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  width: 100%;
  height: 5%;
  padding: 0px 0px 70px; 
  margin: auto;
  background-color: #f5f4f0; 
}

#welcome {
  position: absolute;
  top: 12%;
  left: 0;
  right: 0;
  width:30%; 
	height: 10%; 
  background-color: #050A30;
  border-radius: 5px;
  margin: auto;
  color: whitesmoke;
  text-align: center; 
  padding: 20px 0px 50px; 
  animation: fadeInDown 2.4s;
  -webkit-animation: fadeInDown 2.4s;
  -moz-animation: fadeInDown 2.4s;
  -o-animation: fadeInDown 2.4s;
  -ms-animation: fadeInDown 2.4s;
}

.mid-top-front-page-banner{
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  width: 90%;
  height: 20%;
  padding: 0px 0px 110px; 
  margin: auto;
  background-image: url("https://i.imgur.com/K5cwcYS.jpg");
  background-color: #050A30;
  animation: moveRight 2s;
  -webkit-animation: moveRight 2s;
  -moz-animation: moveRight 2s;
  -o-animation: moveRight 2s;
  -ms-animation: moveRight 2s;
}

.middle-front-page-banner{
  position: absolute;
  top: 170%;
  left: 0;
  right: 0;
  width: 80%;
  height: 30%;
  padding: 0px 0px 80px; 
  margin: auto;
  background-color: #f5f4f0; 
  animation: moveLeft 1.8s;
  -webkit-animation: moveLeft 1.8s;
  -moz-animation: moveLeft 1.8s;
  -o-animation: moveLeft 1.8s;
  -ms-animation: moveLeft 1.8s;
}

.mid-lower-front-page-banner{
  position: absolute;
  top: 250%;
  left: 0;
  right: 0;
  width: 70%;
  height: 20%;
  padding: 0px 0px 110px; 
  margin: auto;
  background-image: url("https://i.imgur.com/wp1kLqo.jpg");
  background-color: #050A30;
  animation: moveRight 1.6s;
  -webkit-animation: moveRight 1.6s;
  -moz-animation: moveRight 1.6s;
  -o-animation: moveRight 1.6s;
  -ms-animation: moveRight 1.6s;
}

.lower-front-page-banner{
  position: absolute;
  top: 340%;
  left: 0;
  right: 0;
  width: 60%;
  height: 30%;
  padding: 0px 0px 70px; 
  margin: auto;
  background-color: #f5f4f0; 
  animation: moveLeft 1.4s;
  -webkit-animation: moveLeft 1.4s;
  -moz-animation: moveLeft 1.4s;
  -o-animation: moveLeft 1.4s;
  -ms-animation: moveLeft 1.4s;
}

.mid-bottom-front-page-banner{
  position: absolute;
  top: 410%;
  left: 0;
  right: 0;
  width: 50%;
  height: 20%;
  padding: 0px 0px 90px; 
  margin: auto;
  background-image: url("https://i.imgur.com/ITxHs67.jpg");
  background-color: #050A30;
  animation: moveRight 1.2s;
  -webkit-animation: moveRight 1.2s;
  -moz-animation: moveRight 1.2s;
  -o-animation: moveRight 1.2s;
  -ms-animation: moveRight 1.2s;
}

.bottom-front-page-banner{
  position: absolute;
  top: 490%;
  left: 0;
  right: 0;
  width: 40%;
  height: 20%;
  padding: 0px 0px 70px; 
  margin: auto;
  background-color: #f5f4f0;
  animation: moveLeft 1s;
  -webkit-animation: moveLeft 1s;
  -moz-animation: moveLeft 1s;
  -o-animation: moveLeft 1s;
  -ms-animation: moveLeft 1s;
}



@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
 }
  100% {
    opacity: 1;
    transform: translateY(0);
 }
}

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
 }
  100% {
    opacity: 1;
    transform: translateY(0);
 }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
 }
  100% {
    opacity: 1;
    transform: translateY(0);
 }
}

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
 }
  100% {
    opacity: 1;
    transform: translateY(0);
 }
}

@-ms-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
 }
  100% {
    opacity: 1;
    transform: translateY(0);
 }
}



@keyframes moveLeft {
  0% {
    transform: translateX(-90px);
 }
  100% {
    transform: translateX(0);
 }
}

@-moz-keyframes moveLeft {
  0% {
    transform: translateX(-90px);
 }
  100% {
    transform: translateX(0);
 }
}

@-webkit-keyframes moveLeft {
  0% {
    transform: translateX(-90px);
 }
  100% {
    transform: translateX(0);
 }
}

@-o-keyframes moveLeft {
  0% {
    transform: translateX(-90px);
 }
  100% {
    transform: translateX(0);
 }
}

@-ms-keyframes moveLeft {
  0% {
    transform: translateX(-90px);
 }
  100% {
    transform: translateX(0);
 }
}



@keyframes moveRight {
  0% {
    transform: translateX(90px);
 }
  100% {
    transform: translateX(0);
 }
}

@-moz-keyframes moveRight {
  0% {
    transform: translateX(90px);
 }
  100% {
    transform: translateX(0);
 }
}

@-webkit-keyframes moveRight {
  0% {
    transform: translateX(90px);
 }
  100% {
    transform: translateX(0);
 }
}

@-o-keyframes moveRight {
  0% {
    transform: translateX(90px);
 }
  100% {
    transform: translateX(0);
 }
}

@-ms-keyframes moveRight {
  0% {
    transform: translateX(90px);
 }
  100% {
    transform: translateX(0);
 }
}


.eventBanner {
  width:100%; 
	height:50px; 
  background-image: url("https://i.imgur.com/bRPjl8Y.jpg");
  background-color: #050A30;
  border-radius: 3px;
  margin: 0px 0px 5px;
  padding: 10px 0px 30px; 
  box-shadow: 0px 3px 3px #667;
}

.lowerBanner {
  width:100%; 
	height:50px; 
  background-image: url("https://i.imgur.com/jaljUh1.jpg");
  background-color: #050A30;
  border-radius: 3px;
  margin: 22px 0px 10px; 
  padding: 10px 0px 30px;
  box-shadow: 0px 3px 3px #667;
}

.dateBanner {
  width:100%; 
  height:20px; 
  background-color: #050A30;
  border-radius: 3px;
  margin: 10px 0px 0px;  
  text-align: center;
  color: white;
  font-weight: bold;
  vertical-align: middle;
  padding: 30px 0px 30px;
}

.timeBanner {
  text-align: match-parent;
  color: #050A30;
  vertical-align: middle;
}

.timeContainer {
  width:100%;
  height:120px;
  padding: 20px 0px 10px;
  background-color: #f5f4f0;
  border-radius: 3px;
}

h2 {
  color: white;
}

button {
  font-size: 0.8rem;
  border-radius: 3px;
  background-color: #050A30;
  color: white;
  margin: 1px 1px 1px;
  padding: 1px 1px 1px;
}

.deleteButton{
  border-radius: 3px;
  padding: 2px 2px 2px;
}

#submit {
  border-radius: 3px;
  border-collapse: collapse;
  background-color: #050A30;
  color: white;
  padding: 3px 3px 3px
}

table {
  border-spacing: 10 0px;
  display:inline-table;
  table-layout: fixed;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 3px;
  text-align: center;
  background-color: #050A30;
  color: white;
  box-shadow: 2px 2px 4px #667;
}

td {
  border-radius: 3px;
  background-color: #f5f4f0;
  width: 250px;
  height: 200px;
  text-align: center;
  padding: 1px 5px 1px;
  box-shadow: 2px 2px 4px #667;
}

#input-header{
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  width: 32%;
  height: 25%;
  margin: auto;
  padding: 40px 0px 10px;
  border-radius: 5px;
  background-color: #050A30;
  color: whitesmoke;
  box-shadow: 0px 2px 2px #667;
}

#input-lower-half{
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  width: 32%;
  height: 30%;
  margin: auto;
  padding: 40px 0px 10px;
  border-radius: 5px;
  background-image: url("https://i.imgur.com/UjB3Agg.jpg");
  background-color: #050A30;
  color: whitesmoke;
  box-shadow: 0px 2px 2px #667;
}

.activity-inputs{
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  width: 15%;
  height: 30%;
  margin: auto;
  padding: 20px 0px 20px;
  border-radius: 5px;
  background-color: #f5f4f0;
  box-shadow: 0px 2px 2px #667;
}







